@import './variables.scss';

.content {
	position: relative;
	flex-grow: 1;
	width: 100%;
	padding: $s-size;
	margin-top: 260px;
	max-width: 850px;
	@media (min-width: 900px) {
		margin-top: 110px;
		padding: $s-size $m-size $l-size $m-size;
	}

	overflow-y: hidden;
}

.sectionHeader {
	display: flex;
	align-self: flex-end;
	justify-content: flex-end;
	// font-size: 2.25rem; // default for h1
	font-size: 3rem;
	@media (min-width: 450px) {
		font-size: 4rem;
	}
	@media (min-width: 800px) {
		font-size: $l-size;
	}
}

.sectionHeader-sm {
	display: flex;
	align-self: flex-end;
	justify-content: flex-end;
	// font-size: 2.25rem; // default for h1
	font-size: 2.25rem;
	@media (min-width: 450px) {
		font-size: 4rem;
	}
}

.linkButton {
	outline: none;
	border: 0 none;
	color: white;
	padding: .8rem 2rem;
	margin: 1rem 1.5rem 1rem 0;
	text-decoration: none;
	background: $primary-color;
	font-size: $s-size;
	&:hover {
		background: lighten($color:$primary-color, $amount: 20%);
		background-position: right center;
	}
}

.borderButton {
	background: none;
	outline: none;
	border: 2px solid $primary-color;
	color: $primary-color;
	padding: .7rem 1.9rem;
	margin: 1rem 1.5rem 1rem 0;
	text-decoration: none;
	font-size: $s-size;
	&:hover {
		background: $secondary-color;
		background-position: right center;
		color: white;
	}
}
