@import './variables.scss';

.content {
	flex-grow: 1;
	width: 100%;
	padding: $s-size;
	margin-top: 160px;
	max-width: 850px;
	@media (min-width: $header-breakpoint) {
		margin-top: 110px;
		padding: $s-size $m-size $l-size $m-size;
	}
}
