$header-breakpoint: 650px;

$s-size: 1rem;
$m-size: 3rem;
$l-size: 6rem;
$xl-size: 8rem;
//COLORS

$almost-white-grey: #f4f4f4;
$light-grey: #e4e4e4;
$dark-grey: rgb(170, 170, 170);

$accent: rgb(0, 255, 200);
