@import '../styles/variables.scss';

.footer {
	display: flex;
	position: relative;
	flex-grow: 1;
	z-index: 100;
	font-size: .8rem;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-width: 100vw;
	max-height: 30px;
	padding: 1rem 2rem 1rem 2rem;
	@media (min-width: 400px) {
		flex-direction: row;
	}
	margin: 0;
	background-color: $secondary-color;
	&:before {
		position: absolute;
		content: '';
		height: 100%;
		background: $secondary-color;
		display: block;
		left: 0;
		right: 0;
		z-index: -1;
		transform: skewY(1deg);
		transform-origin: 100% 0;
	}
	span {
		color: $primary-color;
		font-weight: bold;
	}
}

.rss {
	font-size: $s-size;
	font-weight: bold;
	color: white;
	background-color: rgb(29, 29, 29);
	box-shadow: none;
	&:hover {
		color: $primary-color;
	}
	@media (min-width: 400px) {
		background-color: rgb(29, 29, 29);
		box-shadow: -10px -25px 0 25px rgb(29, 29, 29);
	}
}
