@import '../styles/variables.scss';

.footer {
	display: flex;
	position: relative;
	flex-grow: 1;
	z-index: 100;
	font-size: .8rem;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	min-width: 100vw;
	max-height: 160px;
	padding: 1rem 2rem 1rem 2rem;
	@media (min-width: 400px) {
		flex-direction: row;
	}
	margin: 0;
	margin-top: $m-size;
	background-color: $secondary-color;
	&:before {
		position: absolute;
		content: '';
		height: 100%;
		background: $secondary-color;
		display: block;
		left: 0;
		right: 0;
		z-index: -1;
		transform: skewY(1deg);
		transform-origin: 100% 0;
	}
	img {
		display: inline;
		// max-height: 30px;
		margin: 0;
		padding: 4px;
		max-width: 100px;
		width: 100%;
	}
	span {
		// color: white;
	}
	p {
		margin: 0;
	}
}

.credits {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	font-size: .6rem;
	margin-right: .5rem;
}
.rss {
	font-size: $s-size;
	font-weight: bold;
	color: white;
	background-color: rgb(29, 29, 29);
	box-shadow: none;
	margin-left: 2rem;
	&:hover {
		color: $primary-color;
	}
	@media (min-width: 400px) {
		background-color: rgb(29, 29, 29);
		box-shadow: -10px -25px 0 25px rgb(29, 29, 29);
	}
}
